@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
body {
  font-family: 'Aclonica', sans-serif;
  color: white;
  background-color: #5D3FD3;
}

h1 {
  text-align: center;
  color: black;
}

#description {
  text-align: center;
  color: black;
  margin: 0px 0px 40px;
}

form {
  background-color: #800020;
  padding: 40px;
}

.form-box {
  width: 100%;
  margin: 50px 400px; 
}

@media (min-width: 768px) {
  .form-box {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  #dropdown, #comments, .submit-button {
    max-width: 660px;
  }
}

@media (max-width: 576px) {
  .form-box {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  #dropdown, #comments, .submit-button {
    max-width: 307px;
  }
}

#form-section {
  margin: 0px 0px 20px;
  padding: 4px;
}

label, p {
  margin: 0px 0px 8px;
}

.form-display {
  display: block;
  width: 100%;
  padding: 6px 12px;
  margin-top: 10px;
}

p {
  margin-top: 4px;
}

#dropdown, #comments, .submit-button {
  width: 660px;
}

#radio-button, #improvement-checkbox {
  min-height: 20px;
  min-width: 20px;
  margin: 0px 10px 0px 0px;
}

label {
  align-items: center;
  display: flex;
}

.submit-button {
  display: block;
  background-color: blue;
  padding: 12px;
  font: inherit;
  color: inherit;
}

